.aa{
    border-bottom: 1px solid #e5e8ed;
    background-color: white;
}

.container-fluid{
    padding: 0;
    margin: 0 30px;
}

.nav>li>a:hover{
    background-color: #fff;
    cursor: grab;
}

.navbar-left .btn{
    background-color: #00d7d2;
    padding: 0 5px;
    color: #031b4e;
}

.navbar-left a p{
    margin-top: 15px;
}

.navbar-left a:hover{
    text-decoration: none;
}

@media (max-width: 1049px){
    .navbar-right{
        display: none;
    }
}
/* heder bot*/
.bot{
    padding: 0 30px;
    background-color: white;
}

svg{
    fill: #0069ff;
}

#link li{
        display: inline-block;
        padding-top: 18px;
        padding-left: 20px;
}

#link li a{
    font-size: 16px;
    color: #031b4e;
}

#fantasma{
    display: none;
}

#fantasma span{
    color: white;
}

@media (max-width: 1049px){
    #fantasma{
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-top: 15px;
        margin-right: 15px;
        border-radius: 4px;
        border: 1px solid transparent;
        background-color: transparent;
        display: inline-block;
    }

    .bot{
        background-color:rgba(0,0,0,0);
    }

    #link{
        display: none;
    }
}

#btn-heder{
    margin-top: 12px;
    margin-right: 5px;
    background-color: transparent;
    border: 1px solid #0069ff;
    border-radius: 5px;
}

#btn-heder:hover{
    background-color: #0069ff;
    color: #fff;
    border-color: #0069ff;
}
/*fine heder*/

.jumbotron{
    background-image: url(https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg);
    padding-top: 180px;
    margin-bottom: 0;
}

#welcome h1{
    font-weight: bold;
    font-size: 62px;
    line-height: 1.18;
    color: #fff;
    margin-bottom: 16px;
}

#welcome p{
    color: #fff;
    opacity: 0.8;
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 32px;
}

.home h2{
    color: #031b4e;
    font-size: 30px;
    margin-bottom: 32px;
    margin-top: 8px;
    font-weight: bold;
    text-align: center;
}

form{
    background-color: white;
    padding: 30px;
}

.home{
    padding-top:
}

.form-group input{
    height: 48px;
    max-width: 100%;
    padding: 0 16px;
    border: 1px solid #f1f1f1;
}

.login-choice{
    position: relative;
    text-align: center;
    color: #5b6987;
    line-height: 26px;
    font-size: 16px;
    margin-bottom: 15px;
}

.login-choice::before,
.login-choice::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc((100% - 110px) / 2);
    height: 3px;
    background-color: #e5e8ed;
}

.login-choice::before {
    left: 0;
}

.login-choice::after {
    right: 0;
}

.buttoms{
    color: #031b4e;
}

.buttoms a{
    width: 49%;
}

.form p{
    font-size: 12px;
    text-align: center;
    padding-top: 16px;
    margin: 0 0 16px;
}

/*fine jambotron*/
#loghi{
    background-color: #f3f5f9;
    padding-top: 50px;
    padding-bottom: 50px;
}

#loghi h2{
    font-weight: 400;
    line-height: 1.25;
    font-size: 14px;
    opacity: 0.4;
    font-weight: bolder;
}

.loghi img{
    max-width: 100%;
    align-items: center;
    height: 160px;
    object-fit: contain;
}

#loghi a{
    background: transparent;
    color: #0069ff;
    text-decoration: none;
    cursor: grab;
    font-weight: bolder;
}
/*fine loghi*/

#lista h2{
    color: #031b4e;
    font-weight: bold;
    line-height: 1.25;
    font-size: 36px;
    margin: 0 0 16px;
}

#lista p{
    font-size: 20px;
    margin-bottom: 64px;
    color: rgba(3,27,78,.7);
    line-height: 1.5;
}

.container-small{
    max-width: 900px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    margin: auto;
}

@media all and ( man-width: 479px) {
    .col-sxs{ width: 100%;
    }
}
